.headerElement {
    font-size: 1.5vh;
}

.scoreboard {
    width: 100%;
    background-color: white;
  }

  .header {
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
    color: black;
}

.team {
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 0.9rem;
    width: 100%;
}

.team-name {
    max-width: 90%!important;
}

.team-score {
    max-width: 10%!important;
    text-align: right;
}

.win .score {
    font-weight: bold;
    color: black;
}

.win .team {
    color: black;
    font-weight: bold;
}

.periodHeader {
    align-items: center;
    border-bottom-style: solid;
    border-width: 1px;
    color: black;
}

.periodScore {
    text-align: right;
    padding-right: 25px;
}

.scoreboard-content {
    display: flex;
    align-items: center;
}

.scoreboard-score {
    width: 75%;
}

.scoreboard-info {
    font-size: 0.6rem;
    text-align: center;
    height: 100%;
    align-content: center;
    margin-right: 0;
    display: grid;
    border-left-style: solid;
    border-left-color: lightgray;
    padding: 5px;
    width: 25%;
}


